body{
    background-color: rgb(56, 56, 56);
    padding: 0px;
    margin: 0px;
 }

header{
    background-color: white;
    padding: 0px;
    margin: 0px;
}

main{
    background-color: rgb(56, 56, 56);
}

.charactersHeader{
    max-width: 170px;
}

.allLinks{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    font-family: fantasy;
    color: black;
    a:link, a:visited {
        text-decoration: none
        }
    a:hover {
        text-decoration: underline;
        color: rgb(255, 132, 0)
        }
    a:active {
        text-decoration: none
        }
}

.charactersCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin: 15px;
    row-gap: 25px;
    column-gap: 10px;
    background-color: rgb(56, 56, 56);;
    border-radius: 20px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    margin: 15px;   
}

.cardImgTop{
    display: flex;
    background-color: black;
    min-width: 150px;
    max-width:250px;
    min-height: 100px;
    max-height: 300px;
    align-self: center;
    margin: 10px;   
}

.cardBody{
    display: flex;
    flex-flow: wrap column;
    margin-left: 5px;
    margin-right: 5px;
    font-family: fantasy;
}