body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgba(236, 240, 11, 0.967);
    padding: 0px;
    margin: 0px;
}

.charactersHeader{
    max-width: 130px;
}

.allLinks{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    font-family: fantasy;

    a:link, a:visited {
        text-decoration: none;
        }
    a:hover {
        text-decoration: underline;
        color: red;
        }
    a:active {
        text-decoration: none;
        }
}

main{
    background-color: rgb(57, 57, 57);
}

.charactersCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(57, 57, 57);
    border-radius: 20px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    border-radius: 20px;
    margin: 20px; 
    background-color: rgb(34, 34, 34);  
}

.cardImgTop{
    display: flex;
    flex-wrap: wrap;
    min-width: 50px;
    max-width: 280px;
    max-height: 280px;
    align-self: center;
    background-color: rgba(104, 104, 104, 0.884);
    border-radius: 20px; 
    margin: 15px;
}

.cardBody{
    display: flex;
    flex-flow: wrap column;
    font-family: fantasy;
    font-size: 22px;
    color: rgb(125, 8, 8);
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
}

.cardText{
    display: flex;
    justify-content: left;
    font-family: fantasy;
    font-size: 19px;
    color: rgb(125, 8, 8);
    border-radius: 20px;
}

.allList{
    background-color: rgb(34, 34, 34);
    margin: 10px;
    border-radius: 20px;
}

.listInfo{
    color: rgb(125, 8, 8);
    background-color: rgba(166, 166, 32, 0.9);
    font-family: fantasy;
    border-radius: 20px;
    font-size: 18px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgba(236, 240, 11, 0.967);
}

.logoFooter{
    max-width: 386px;
}