body{
    background-color: rgb(57, 57, 57); 
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgba(236, 240, 11, 0.967);
    padding: 0px;
    margin: 0px;
}

.allLinks{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    font-family: fantasy;
    a:link, a:visited {
        text-decoration: none;
        }
    a:hover {
        text-decoration: underline;
        color: red;
        }
    a:active {
        text-decoration: none;
        }
}

.dragonDbz{
    max-width: 135px;
}

.allItems{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.dbzLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.kidGoku{
    max-width: 120px;
    max-height: 230px;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 240, 11, 0.967);
}

.logoFooter{
    max-width: 420px;
}

.gitIcon{ 
    display: flex;
    justify-content: center;
    max-width: 50px;
}