body{
    background-color: rgb(97, 97, 97); 
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(56, 56, 56);
    padding: 0px;
    margin: 0px;
}

.allLinks{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    font-family: fantasy;
    a:link, a:visited {
        text-decoration: none;
        }
    a:hover {
        text-decoration: underline;
        color: rgb(255, 132, 0)
        }
    a:active {
        text-decoration: none;
        }
}

.dragonDbz{
    max-width: 135px;
}


.allItems{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: fantasy;
}

.dbzLogo{
    max-width: 650px;
}

.text{
    display: flex;
    justify-content: left;
    color: yellow;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
}

.gitIcon{ 
    max-width: 50px;
}